/* --- general --- */
* {
    box-sizing: border-box;
}
body, p, li, ul, input, button, form, ol {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h1{
    color: #FFF;
    font-size: 90px;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 43px;
    padding: 10px;
    border-bottom: solid 0.3rem #00B172;
    margin: 50px 600px;

}
h3{
    color: #00B172;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
/* --- spefics --- */
    /* --- navbar --- */
nav{
    display: flex;
    padding: 25px 50px 25px 50px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}
nav img{
    width: 13rem;
}
nav ul {
    list-style: none;
    display: flex;
    font-size: 25px;
    margin-right: 3000px;
    margin-left: 20%;
}   
nav ul li {
    margin-left: 2rem;
}
.landing{
    background-image: url(/images/landing.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing p{
    font-size: 35px;
    line-height: 1.2;
}

    /* --- section 1 --- */
.boxes{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 55px 55px 110px 55px;
    
}
.boxes img{
    width: 9rem;
    display: flex;
    margin: auto;
}
.boxes p{
    font-size: 28px;
    font-weight: 300;
    padding: 0px 70px;
    text-align: center;
}
    /* --- section 2 --- */

.lastsection{
    background-color: #00B172;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px;
}
.lastsection > div{
    padding: 10px 60px;

}
.lastsection hr{
    color: #FFF;
    width: 300px;
}
.lastsection span{
    font-size: 25px;
}
.boldtext{
    font-size: 28px;
    font-weight: bold;
    line-height: 5rem;
}
.titlelastsection{
    font-size: 40px;
    color: white;
    padding: 5px 0px;
    font-weight: bold;
}
#iconwhite{
    width: 150px;
    display: flex;
    margin-right: auto;
}
#spotifyapp{
    width: 500px;
    padding: 60px;
}